<section class="header">
  <nav>
      <a><img src="..//assets/logo.png" alt="nothing"></a>
      <div class="nav-links" id="navLinks" [ngStyle]="{'right.px': openMenu}">
          <fa-icon class="fa fa-times" [icon]="faTimes" (click)="hideMenu()"></fa-icon>
          <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Content</a></li>
          </ul>
      </div>
      <fa-icon class="fa fa-bars" (click)="showMenu()" [icon]="faBars"></fa-icon>
      <!-- <i class="fa fa-bars" onclick="showMenu()"></i> -->
  </nav>

  <div class="text-box">
      <h1>World's Biggest University</h1>
      <p>dfhdfhkdfjbdmbkldfmejgdlkgjdlkgjdhdhg</p>
      <a href="" class="hero-btn"> Visit Us to know More</a>

  </div>
</section>

<router-outlet></router-outlet>
